// Images Partial

.img-avatar {
    @include img;
    margin-top: 10px;
    max-height: 100%;

  
  
  &-frame {
    @include img;
    padding: 13px;
    margin-top: 10px;
    border: 1px solid #ccc;
  }
  
  &-logo {
    @include img;
  }

}